<ion-view view-title="Simplified Trade">
	<ion-content has-bouncing="true" padding="true">
		<h1>Simplified Trade</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		
		<p><a href="#/app/placement-type">DEBUG: Bypass Take a Pic</a></p>
		<p><a href="#/app/placement-type">DEBUG: Shortcut: Placement Type</a></p>
		<p><a href="#/app/case-meta">DEBUG: Shortcut: Meta Data</a></p>
		<p>&nbsp;</p>
		<p><a href="" ng-click="doS3Auth()">DEBUG: Test S3 Auth</a></p>
		
		
	</ion-content>
</ion-view>
