<ion-view view-title="Placement">
	<ion-content has-bouncing="true" padding="true">
		<h1>Select Placement</h1>


		<div>
			<div class="item item-divider">Placement Lifecycle</div>
			<label class="item item-radio">
				<input type="radio" name="placementLifecycle" checked>
				<div class="item-content">Standard</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="placementLifecycle">
				<div class="item-content">Incremental</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		</div>


		<div class="row">
			<div class="col col-50">
				<button class="button button-block button-calm" ng-click="selectPlacement('shelf')">
					<div class="icon ion-grid"></div>
					Shelf
				</button>
			</div>
			<div class="col col-50">
				<button class="button button-block button-calm" ng-click="selectPlacement('rack')">
					<div class="icon ion-navicon"></div>
					Rack
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<button class="button button-block button-calm" ng-click="selectPlacement('table')">
					<div class="icon ion-cube"></div>
					Table
				</button>
			</div>
			<div class="col col-50">
				<button class="button button-block button-calm" ng-click="selectPlacement('shipper')">
					<div class="icon ion-social-dropbox-outline"></div>
					Shipper
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<button class="button button-block button-calm" ng-click="selectPlacement('stack')">
					<div class="icon ion-drag"></div>
					Stack
				</button>
			</div>
			<div class="col col-50">
				<button class="button button-block button-calm" ng-click="selectPlacement('endcap')">
					<div class="icon ion-ios-browsers-outline"></div>
					End-cap
				</button>
			</div>			
		</div>

		
	</ion-content>
</ion-view>
