<ion-view view-title="Placement">
	<ion-content has-bouncing="true" padding="true">
		<h1>Select Placement</h1>

		<div class="placement-pos-selector">
			<div class="square">
				<div class="content">
					<div class="table">
						<a href="" class="placement-pos" ng-click="selectPlacementPos('BL')">
							BACK<br>
							LEFT
						</a>
					</div>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<div class="table">
						<a href="" class="placement-pos" ng-click="selectPlacementPos('BC')">
							BACK<br>
							CENTER
						</a>
					</div>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<div class="table">
						<a href="" class="placement-pos" ng-click="selectPlacementPos('BR')">
							BACK<br>
							RIGHT
						</a>
					</div>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<div class="table">
						<a href="" class="placement-pos" ng-click="selectPlacementPos('ML')">
							MIDDLE<br>
							LEFT
						</a>
					</div>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<div class="table">
						<a href="" class="placement-pos" ng-click="selectPlacementPos('C')">
							CENTER
						</a>
					</div>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<div class="table">
						<a href="" class="placement-pos" ng-click="selectPlacementPos('MR')">
							MIDDLE<br>
							RIGHT
						</a>
					</div>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<div class="table">
						<a href="" class="placement-pos" ng-click="selectPlacementPos('FL')">
							FRONT<br>
							LEFT
						</a>
					</div>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<div class="table">
						<a href="" class="placement-pos" ng-click="selectPlacementPos('FC')">
							FRONT<br>
							CENTER
						</a>
					</div>
				</div>
			</div>
			<div class="square">
				<div class="content">
					<div class="table">
						<a href="" class="placement-pos" ng-click="selectPlacementPos('FR')">
							FRONT<br>
							RIGHT
						</a>
					</div>
				</div>
			</div>
		</div>












		<!--
		<table class="placement-pos-selector">
			<tr>
				<td>
					<a href="" class="placement-pos" ng-click="selectPlacementPos('BL')">
						BACK<br>
						LEFT
					</a>
				</td>
				<td>
					<a href="" class="placement-pos" ng-click="selectPlacementPos('BC')">
						BACK<br>
						CENTER
					</a>
				</td>
				<td>
					<a href="" class="placement-pos" ng-click="selectPlacementPos('BR')">
						BACK<br>
						RIGHT
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="" class="placement-pos" ng-click="selectPlacementPos('ML')">
						MIDDLE<br>
						LEFT
					</a>
				</td>
				<td>
					<a href="" class="placement-pos" ng-click="selectPlacementPos('C')">
						CENTER
					</a>
				</td>
				<td>
					<a href="" class="placement-pos" ng-click="selectPlacementPos('MR')">
						MIDDLE<br>
						RIGHT
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="" class="placement-pos" ng-click="selectPlacementPos('FL')">
						FRONT<br>
						LEFT
					</a>
				</td>
				<td>
					<a href="" class="placement-pos" ng-click="selectPlacementPos('FC')">
						FRONT<br>
						CENTER
					</a>
				</td>
				<td>
					<a href="" class="placement-pos" ng-click="selectPlacementPos('FR')">
						FRONT<br>
						RIGHT
					</a>
				</td>
			</tr>
		</table>
		 -->
		
		
		
		
		
		
		
		
		
				
	</ion-content>
</ion-view>
